In [1]:
import pandas as pd
import numpy as np
from transformers import AutoModelForSequenceClassification, AutoTokenizer, pipeline
import re
# Load model & tokenizer

bart_model = AutoModelForSequenceClassification.from_pretrained(
    'navteca_bart_large_mnli'
)

bart_tokenizer = AutoTokenizer.from_pretrained(
    'navteca_bart_large_mnli'
)

nlp = pipeline('zero-shot-classification',
               model=bart_model,
               tokenizer=bart_tokenizer)

In [2]:
labels = [
    'sport', 'lifestyle', 'entertainment', 'technology', 'politics',
    'finance', 'weather', 'business']

In [3]:
df1 = pd.read_csv(r'linkedin post/post_text_first40.csv', encoding='iso-8859-1')
df2 = pd.read_csv(r'linkedin post/post_text_40_52.csv', encoding='iso-8859-1')
df3 = pd.read_csv(r'linkedin post/post_text_54_83.csv', encoding='iso-8859-1')

In [4]:
df = pd.concat([df1,df2,df3], ignore_index=True)

In [5]:
def cleanText(text):
#     text = re.sub(r'@[A-Za-z0-9:_]+', '', text)  # remove @mensions
    text = re.sub(r'#', ' ', text)  # remove '#'
    text = re.sub(r'&amp;', ' ', text)
#     text = re.sub(r'RT[\s]+', '', text)  # remove RT
    text = re.sub(r'https?:\/\/\S+', ' ', text)  # remove the hyper link
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r' ', text) # remove emoji
    text = re.sub(r'[.,"\'?:!;]', ' ', text)  # remove punctions
    text = re.sub(u"([^\u0041-\u005a\u0061-\u007a\u0020\u0027])", ' ', text)  # just keep words, spaces and single quote
    return text

def join_string(file):
    text = str()
    for line in file:
        #     print(line)
        if line.find('Word count') != -1:
            pass
        elif line.find('CREDIT:') != -1:
            pass
        else:
            text = text + " " + line.strip('\n ')
    
    return text

In [6]:
df['post_cleaned'] = df['post'].apply(lambda x: cleanText(x))

In [7]:
out_labels = []
out_scores = []

for i in range(10):
    print(i)
    print(df['company'].loc[i])
    try:
        out_labels.append(nlp(df['post_cleaned'].loc[i], labels)['labels'])
        out_scores.append(nlp(df['post_cleaned'].loc[i], labels)['scores'])
        
    except:
        out_labels.append(np.nan)
        out_scores.append(np.nan)

0
Accede
1
Accede
2
Accede
3
Accede
4
Accede
5
Accede
6
Accede
7
Accede
8
Adaptivews
9
Adaptivews

In [44]:
df['labels'] = np.nan
df['scores'] = np.nan

df.loc[df.index<10 , 'labels'] = ['-'.join(x) for x in out_labels]
df.loc[df.index<10 , 'scores'] = ['-'.join([str(y) for y in x]) for x in out_scores]

C:\Users\EricHan\AppData\Local\Temp\ipykernel_15584\4166367199.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['technology-business-entertainment-weather-lifestyle-finance-sport-politics', 'technology-business-entertainment-lifestyle-sport-finance-weather-politics', 'entertainment-business-lifestyle-sport-technology-weather-finance-politics', 'business-technology-entertainment-lifestyle-sport-weather-finance-politics', 'technology-business-entertainment-lifestyle-weather-finance-sport-politics', 'technology-business-sport-finance-entertainment-lifestyle-weather-politics', 'technology-business-entertainment-lifestyle-finance-weather-sport-politics', 'business-technology-lifestyle-entertainment-finance-weather-sport-politics', 'business-weather-entertainment-lifestyle-technology-finance-politics-sport', 'business-sport-lifestyle-weather-entertainment-technology-finance-politics']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.index<10 , 'labels'] = ['-'.join(x) for x in out_labels]
C:\Users\EricHan\AppData\Local\Temp\ipykernel_15584\4166367199.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['0.49432799220085144-0.39122918248176575-0.06852279603481293-0.018376963213086128-0.01006491668522358-0.006216653622686863-0.005732850171625614-0.00552864745259285', '0.9520650506019592-0.030149126425385475-0.006667523179203272-0.003414466045796871-0.0026211219374090433-0.0018599877366796136-0.0017504538409411907-0.0014722344931215048', '0.7119021415710449-0.07489857077598572-0.06764445453882217-0.04049098864197731-0.0335264578461647-0.03151998296380043-0.025759952142834663-0.014257497154176235', '0.38250723481178284-0.18155668675899506-0.1408931314945221-0.1273154616355896-0.07091284543275833-0.04321512207388878-0.02983061969280243-0.02376886084675789', '0.7368465065956116-0.0619891993701458-0.05776633322238922-0.04606534168124199-0.028859930112957954-0.025631511583924294-0.023388706147670746-0.01945246011018753', '0.5515953302383423-0.31891873478889465-0.02894175611436367-0.027666516602039337-0.026644283905625343-0.026441192254424095-0.011669138446450233-0.008123033680021763', '0.2992722690105438-0.19200578331947327-0.16439242660999298-0.09843436628580093-0.07289151102304459-0.07202093303203583-0.05728313699364662-0.04369952902197838', '0.7629991769790649-0.0767538845539093-0.044637154787778854-0.04234302043914795-0.028759976848959923-0.0181463360786438-0.014809449203312397-0.011551008559763432', '0.39024609327316284-0.13866689801216125-0.11588571965694427-0.10126165300607681-0.07938069850206375-0.06441878527402878-0.0583074651658535-0.05183267220854759', '0.28172406554222107-0.2065666913986206-0.15423846244812012-0.11354108154773712-0.09690079838037491-0.08546881377696991-0.03435095399618149-0.027209145948290825']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.index<10 , 'scores'] = ['-'.join([str(y) for y in x]) for x in out_scores]

In [45]:
df.head()

,company,post_time,date_retrived,post,reaction_count,repost,post_cleaned,labels,scores
0,Accede,2mo,2022-06-06,As a South Australian owned and operated compa...,2,0,As a South Australian owned and operated compa...,technology-business-entertainment-weather-life...,0.49432799220085144-0.39122918248176575-0.0685...
1,Accede,3mo,2022-06-06,Revolutionised Hospital Nutrition System Softw...,3,0,Revolutionised Hospital Nutrition System Softw...,technology-business-entertainment-lifestyle-sp...,0.9520650506019592-0.030149126425385475-0.0066...
2,Accede,1mo,2022-06-06,Wishing all our clients and everyone a very ha...,3,0,Wishing all our clients and everyone a very ha...,entertainment-business-lifestyle-sport-technol...,0.7119021415710449-0.07489857077598572-0.06764...
3,Accede,2mo,2022-06-06,Meet our duo Twin Junior Developers Nic & Jon ...,2,0,Meet our duo Twin Junior Developers Nic Jon ...,business-technology-entertainment-lifestyle-sp...,0.38250723481178284-0.18155668675899506-0.1408...
4,Accede,3mo,2022-06-06,Imagine having software that can fully customi...,1,0,Imagine having software that can fully customi...,technology-business-entertainment-lifestyle-we...,0.7368465065956116-0.0619891993701458-0.057766...

In [ ]:
# df.to_csv(r'linkedin post with labels.csv', encoding='utf-8', index=None)